# Environment Configuration
NODE_ENV="development" # Options: 'development', 'production'
PORT="8080"            # The port your server will listen on
HOST="localhost"       # Hostname for the server

# CORS Settings
CORS_ORIGIN="http://localhost:*" # Allowed CORS origin, adjust as necessary

# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS="1000" # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS="20" # Max number of requests per window per IP

POSTGRES_USER="blobfusion"
POSTGRES_PASSWORD="blobfusion" # set own value
POSTGRES_HOST="localhost"
POSTGRES_PORT=5433
POSTGRES_DB="blobfusion"
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"

BLOB_SUBMITTER_PRIVATE_KEY="0x..."
BLOB_SUBMITTER_CHAIN_ID=31337
BLOB_SUBMITTER_RPC_URL=""

DEPOSIT_CONTRACT_DEPLOY_PRIVATE_KEY="0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80"
DEPOSIT_CONTRACT_CHAIN_ID=11155111
DEPOSIT_CONTRACT_RPC_URL=""
DEPOSIT_CONTRACT_OWNER_PUBLIC_KEY="0x..."
DEPOSIT_CONTRACT_ADDRESS="0x..."
